# Configuração de E-mail
# Use Gmail e gere uma senha de aplicativo em:
# https://myaccount.google.com/apppasswords
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_aplicativo_aqui
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Segurança
SECRET_KEY=sua_chave_secreta_aqui

# Debug
DEBUG=False
